<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      A video has been uploaded to your event <%= @event.date_of_occurence %>, and <%= @event.location_name %>  and <%= @event.date_of_occurence %>
      <br>
    </p>
    <p>
      To login to the site, just follow this link
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>